.box {
    border-top: 1px solid var(--color-border);
        box-sizing: inherit;
            display: block;
}

.social-items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: var(--container-width);
    margin: 0 auto;
}

.social-item:first-of-type {
    border-right: 1px solid var(--color-border);
}

.social-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4rem 2rem;
    cursor: pointer;
}