

.home-item__link {
	position: relative;
	display: block;

	@include mq(tabletl) {

		&:hover {

			.home-item__content {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}



.home-item__index {
	width: 100%;
	// background: rgba($overlay-background-color, $overlay-opacity);
	&:hover {
		@include transition(all 0.35s ease-in-out);
		background-color: #2A2F36;
		box-shadow: 5px 5px #984692;
	}
}



.home-item__subtitle {
	// font-family: $title-font;
	// margin: 10px;
	// color: rgba($overlay-text-color, 0.7);
	font-size: $grid-item-subtitle-small;
	font-weight: $grid-item-subtitle-weight;
	letter-spacing: $grid-item-subtitle-spacing;
	padding-left: 10px;

	@include mq(tabletp) {
		font-size: $grid-item-subtitle-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-subtitle-large;
	}
}


// https://codepen.io/AbubakerSaeed/pen/abzWqPb


/* block-$ */
.block-effect {
  font-size: calc(8px + 6vw);
}

.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock {
  100% {
    color: #0f0f0f;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }

}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  font-size: 16px;
}